div.a{
    position: absolute;
    height: 200px;
    width: 400px;
    top: 45%;
    left: 40%;
}

div.box {
  background-color: #aee0e6;
  width: 300px;
  border: 5px solid green;
  border-color: #395870;
  padding: 50px;
  margin: 20px;
}

#container > div
{
    display: inline-block;
    border: solid 1px #000;
}
#container
{
    border: solid 5px #395870;
    text-align: center;
    margin: 20px auto;
    width: 40%;
}

.button123{
  position: absolute;
  height: 50px;
  top: 45%;
  left: 40%;
}

.button123, .btn1, .submitbtn {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.button123.focus, .btn1.focus,.submitbtn.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}
.button123:hover, .btn1:hover, .submitbtn:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

body{
  background-color: #aee0e6;
}

.navtop {
	background-color: #395870;
	height: 60px;
	width: 100%;
	border: 0;
}

.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}

#selAnswers div{
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}
.cat{font-size: 0.7em;}
.que{font-size: 1.5em;}
